#gp-logo {
    width: 6%;
    height: auto;
}

#gp-logo img {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
}

.split-screen-heading {
  font-size: 1.7em !important;
  font-weight: bold !important;
}

.split-screen-byline {
  width: 35%;
  font-size: 0.5em !important;
}

.split-screen-text {
  width: 30%;
  text-align: center;
  font-size: 0.6em !important;
}

.split-screen-img {
  width: 35%;
}

.split-screen-img img {
  border-radius: 8% !important;
}

.split-screen-list li {
  font-size: 0.5em;
  margin:0 0 20px 0;
  line-height: 0.3em;
}

.split-screen-list li li {
  font-size: 1em;
}

.split-screen-list li::before {
  color: #FF5600 !important;
  background-color: white !important;
}

.reveal section img {
  border: none;
}




.reveal pre {
  width: 98%;
  margin: 6px;
  box-shadow: none;
}

.reveal pre code {
  font-size: 0.4em;
  line-height: 0.9;
  border-radius: 10px;
  max-height: 60vh !important;
  overflow: hidden !important;
}
